@import '../../variables';

button {
  outline: none;
  box-shadow: none;
  border: none;
  margin: 0;
}
button:focus {
  outline: none;
  box-shadow: none;
}
input {
  width: 100%;
  height: 30px;
}

.row {
  display: flex;
  width: 100%;
}
.number-btn {
  color: yellow;
  background-color: black;
  width: 33%;
  height: 40px;
}

.clear-btn {
  color: yellow;
  background-color: black;
  width: 33%;
  height: 40px;
}
