@import '../../../../variables';

.item-row-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 30px;
  button {
    padding: 0;
    margin: 0;
    height: 25px;
  }
  input {
    width: 50px;
    height: 25px;
    border: none;
    padding: 0;
    margin: 0 3px 0 3px;
  }
  input:focus {
    outline: none;
  }
  p {
    margin: 0;
  }

  .checkbox-item-name {
    display: flex;
    align-items: baseline;
  }
  .dollar-value-wrapper {
    display: flex;
    align-items: baseline;
  }
  .count-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    button {
      width: 25px;
    }
  }
}

.focused {
  background-color: lightgray;
}
