@import '../../../../variables';

.item-row-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 30px;
  button {
    padding: 0;
    margin: 0;
    height: 25px;
  }
  input {
    width: 50px;
    border: none;
    padding: 0;
    margin: 0 3px 0 3px;
  }
  input:focus {
    outline: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
  p {
    margin: 0;
  }

  .checkbox-item-name {
    display: flex;
    align-items: baseline;
    width: 30%;
    overflow-x: hidden;
    .checkbox {
      margin: 0;
      padding: 0;
    }
  }
  .bottle-size {
    width: 20%;
  }
  .dollar-value-wrapper {
    width: 15%;
    display: flex;
    align-items: baseline;
  }
  .count-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    button {
      width: 25px;
    }
    .current-count {
      background: none;
    }
  }
}

.focused {
  background-color: lightgray;
}
