@import '../../../../variables';

.item-row-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  .checkbox-item-name {
    display: flex;
    align-items: baseline;
  }
  .dollar-value-wrapper {
    display: flex;
    align-items: baseline;
  }
  .count-controls {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
}
