@import '../../../variables';

.item-count-container {
  width: 100%;
  margin-left: 30px;
  margin-right: 10px;
  .item-checkbox {
    display: flex;
    align-items: baseline;
  }
  .area-last-updated {
    display: flex;
    justify-content: space-between;
  }
  .item-count-table-titles {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
  .count-titles {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: thick black solid;
  }
}
